html,
body,
header,
#intro,
#intro-winery {
    height: 100%;
}

.a-decoration {
    text-decoration: none;
}

#not-home-page {
    height: auto;
}

#intro {
    background: url("../img/biltmore-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

#intro-winery {
    background: url("../img/winery.jpg") no-repeat center center fixed;
    background-size: cover;
}

.navbar-color, .page-footer {
    background-color: #444 !important;
}

h1 {
    color: #9c761c;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.biltmore-color {
    color: #9c761c;
}

/*BUTTONS CLASSES*/

.btn-biltmore {
    background-color: #9c761c;
}

.btn-link {
    color: #ffffff;
}

.white-link-text {
    color: #ffffff;
}

#main-button:hover {
    border: 1px solid #9c761c;
    margin-top: 30px;
}
/*BUTTONS CLASSES*/
/* SOCIAL BUTTONS */
.social-btn a {
    padding-left: 22px;
}

    .face-color {
        color: #4267B2;
    }

    .twit-color {
        color: #1DA1F2;
    }

    .insta-color {
        color: #ddd;
        background-color: #ddd;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }

    .face-color:hover, .twit-color:hover, .insta-color:hover {
        transform: scale(1.5);
        transition: transform .5s;
    }

    .main-content {
        padding-top: 30px;
    }

    .main-paragraph {
        padding: 30px;
    }


/* SOCIAL BUTTONS */


/* Gallery Styles*/
.gallery-main {
    margin-top: 25px;
}
/* Gallery Styles*/

/*Winery Styles*/
#winery-main {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* .winery-row {
    margin-bottom: 20px;
} */

.single-card-winery {
    padding-bottom: 25px;
    min-height: 100%;
}
/*Winery Styles*/















@media (max-width: 640px) {
    .social-btn {
        margin-top: 22px;
    }

    .social-btn a {
        padding: 0;
    }
}